.icons-bkg{
    grid-row: 1;
    grid-column: 1/4;
    width: 100%;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows:  repeat(10, 100px);
    
}

.icons {
    fill: $zero-color;
    width: 250%;
    height: auto;
    //border: 1px solid yellow;
}

#clear-day {
    grid-column: 2;
    grid-row: 1;
    fill: $high-color;
    //margin-top: -100px;
}

#rain {
    grid-column: 10;
    grid-row: 3;
    width: 220%;
}


#thunderstorm {
    grid-column: 4;
    grid-row: 2;
    width: 220%;
}


#snow {
    grid-column: 13;
    grid-row: 1;
    fill: $low-color;
    
}


#hail {
    grid-column: 3;
    grid-row: 5;
    fill: $low-color;
    width: 180%;
}



#fog {
    grid-column: 6;
    grid-row: 6;
    width: 200%;   
}

#cloudy {
    grid-column: 10;
    grid-row: 1;
    margin-top: -100px;
}

#partly-cloudy-day {
    grid-column: 12;
    grid-row: 5;
    fill: $high-color;
    width: 180%;
}



// @media screen and (min-width: 800px){

// #clear-day {
//     grid-column: 1;
//     grid-row: 1;
// }

// #rain {
//     grid-column: 2;
//     grid-row: 3;
// }


// #thunderstorm {
//     grid-column: 1;
//     grid-row: 5;
// }


// #snow {
//     grid-column: 1;
//     grid-row: 7;

// }


// #hail {
//     grid-column: 5;
//     grid-row: 2;

// }


// #sleet {
//     grid-column: 5;
//     grid-row: 6;

// }


// #wind {
//     grid-column: 6;
//     grid-row: 4;

// }

// #fog {
//     grid-column: 8;
//     grid-row: 2;
// }

// }