{{> header}}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {{> form}}
        <script>
            const timestamp = new Date();
            const getForm = document.querySelector('form');
            const formTimestamp = document.createElement("input");
                formTimestamp.setAttribute('name', 'timestamp');
                formTimestamp.setAttribute('value', timestamp);
                formTimestamp.setAttribute('type', 'hidden')
            getForm.appendChild(formTimestamp)
        </script>
{{> footer}}